$primary-color: #7572FF;
$secondary-color: #3F3A50;
$background-color: #F5F5F5;
$text-color: #212121;
$subtext-color: #55595D;
$border-radius: 12px;
$font-size-base: 14px;
$font-family-base: 'Inter', sans-serif;
