@import './variables';
@import './mixins';
@import './base';
@import './components';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');


body {
  font-family: 'Inter', sans-serif;
  background-color: #fff; 
}

.inter {
  font-family: 'Inter', sans-serif;
}

.inter-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}
